= semantic_form_for [:admin, @project], html: {multipart: true} do |f|
  - if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .small-10.medium-6.columns
    = f.input :name
  .small-10.medium-6.columns
    = f.input :url
  .small-10.medium-6.columns
    = f.input :active
  .small-10.medium-6.columns
    = f.input :icon
  .small-10.medium-6.columns
    = f.input :description
  .actions
    = f.submit 'Save'
