.row
  .small-12.columns
  
    %h3= link_to 'To be done...', 'http://dighist.fas.harvard.edu/courses/2016/HUM11c/exhibits/show/comparative-readings/nothing-to-be-done--a-comparat', target: :_blank
    
    = pluralize(Ticket.opened.size.to_s, 'open ticket')
    out of 
    = Ticket.all.size.to_s
    total.
    .progress{role: :progressbar, tabindex: 0, :'aria-valuenow' => @progress.to_s, class: (@progress <= 10 ? :alert : (@progress <= 45) ? :warning : (@progress <= 75 ? :secondary : (@progress <= 90 ? :primary : :success)))}
      .progress-meter{style: "width: #{@progress}%"}
      
    = link_to 'Create new ticket', new_ticket_path, class: [:button]      

.row
  .small-12.columns
    .expanded.button-group

      = link_to "Open tickets (#{@opened_count.to_s})", "/tickets?opened=true", class: [:secondary, :button, params[:opened] == "true" ? :success : :hollow]
      = link_to "Closed tickets (#{@closed_count.to_s})", "/tickets?closed=true",  class: [:secondary, :button, params[:closed] == "true" ? :success : :hollow]
      = link_to "All tickets (#{@total_count.to_s})", "/tickets", class: [:secondary, :button, params[:opened].blank? && params[:closed].nil? ? :success : :hollow]     
.row
  .small-12.columns    
    %table
      %thead
        %tr
          %th Project
          %th #
          %th Name
          %th Date due
          %th Assigned to
          %th Status
          %th Resolution
          %th



      %tbody
        - @tickets.each do |ticket|
          %tr{class: [(ticket.status == 2 || ticket.resolution == 2) ? :strikeout : false, ticket.status_line.parameterize.underscore]}
            %td= link_to ticket.project.name, {controller: :projects, action: :show, id: ticket.project, opened: true}
            %td= ticket.id.to_s
            %td= link_to ticket.name, ticket
            %td= l ticket.date_requested, format: :short
            %td= ticket.assigned.name
            
            %td= ticket.status_line
            %td= ticket.resolution_line
            %td
              = link_to 'Show', ticket, class: [:button, :tiny]
              - if current_user.has_role?(:admin)                
                = link_to 'Edit', edit_ticket_path(ticket), class: [:button, :tiny , :warning]

    %br

    = link_to 'Create new ticket', new_ticket_path, class: [:button]
