.row
  .small-12.columns
    %h3
      - if @project.icon?
        - if @project.github_repo.blank?
          %span.left= image_tag @project.icon.url(:thumb)
        - else
          %span.left= link_to image_tag(@project.icon.url), "https://github.com/#{@project.github_user}/#{@project.github_repo}", target: :_blank
      = @project.name
      - unless @project.github_repo.blank?
        = link_to fa_icon('github') + " View on GitHub", "https://github.com/#{@project.github_user}/#{@project.github_repo}", target: :_blank, class: [:button, :tiny, :hollow, :github]
.row
  .small-12.columns
    = pluralize(@project.tickets.opened.size.to_s, 'open ticket')
    out of 
    = @project.tickets.all.size.to_s
    total.
    .progress{role: :progressbar, tabindex: 0, :'aria-valuenow' => @progress_project.to_s, class: (@progress_project <= 18 ? :alert : (@progress_project <= 45) ? :warning : (@progress_project <= 75 ? :secondary : (@progress_project <= 90 ? :primary : :success)))}
      .progress-meter{style: "width: #{@progress_project}%"}
      
    = link_to 'Create new ticket', new_ticket_path, class: [:button]    
.row
  .small-12.columns
    .expanded.button-group

      = link_to "Open tickets (#{@opened_count})", "/projects/#{@project.slug}?opened=true", class: [:secondary, :button, params[:opened] =="true" ? :success : :hollow]
      = link_to "Closed tickets (#{@closed_count})", "/projects/#{@project.slug}?closed=true",  class: [:secondary, :button, params[:closed] =="true" ? :success : :hollow]
      = link_to "All tickets (#{@total_count})", @project, class: [:secondary, :button, params[:opened].blank? && params[:closed].nil? ? :success : :hollow] 
.row
  .small-12.columns

    %table
      %thead
        %tr
          %th #
          %th Name
          %th Date due
          %th Assigned to
          %th Status
          %th Resolution
          %th



      %tbody
        - @tickets.each do |ticket|
          %tr{class: [(ticket.status == 2 || ticket.resolution == 2) ? :strikeout : false, ticket.status_line.parameterize.underscore]}
            %td= ticket.id.to_s
            %td= link_to ticket.name, ticket
            %td= ticket.date_requested
            %td= ticket.assigned.name
            %td= ticket.status_line
            %td= ticket.resolution_line
            %td
              = link_to 'Show', ticket, class: [:button, :tiny]
              - if current_user.has_role?(:admin)
                = link_to 'Edit', edit_ticket_path(ticket), class: [:button, :tiny]

    %br

    = link_to 'Create new ticket', new_ticket_path, class: [:button]
