.row
  .small-6.medium-2.columns
    - if @project.icon?
      - if @project.github_repo.blank?
        = image_tag @project.icon.url
      - else
        = link_to image_tag(@project.icon.url), "https://github.com/#{@project.github_user}/#{@project.github_repo}", target: :_blank
  .small-6.medium-10.columns
    %h3= @project.name
.row
  .small-12.columns
    = pluralize(@project.tickets.opened.size.to_s, 'open ticket')
    out of 
    = @project.tickets.all.size.to_s
    total.
    .progress{role: :progressbar, tabindex: 0, :'aria-valuenow' => @progress_project.to_s, class: (@progress_project <= 18 ? :alert : (@progress_project <= 45) ? :warning : (@progress_project <= 75 ? :secondary : (@progress_project <= 90 ? :primary : :success)))}
      .progress-meter{style: "width: #{@progress_project}%"}
      
    = link_to 'Create new ticket', new_ticket_path, class: [:button]    
    
.row
  .small-12.columns

    %table
      %thead
        %tr
          %th #
          %th Name
          %th Date assigned
          %th Status
          %th Resolution
          %th



      %tbody
        - @tickets.each do |ticket|
          %tr{class: [(ticket.status == 2 || ticket.resolution == 2) ? :strikeout : false, ticket.status_line.parameterize.underscore]}
            %td= ticket.id.to_s
            %td= link_to ticket.name, ticket
            %td= ticket.date_requested
            %td= ticket.status_line
            %td= ticket.resolution_line
            %td
              = link_to 'Show', ticket, class: [:button, :tiny]
              - if current_user.has_role?(:admin)
                = link_to 'Edit', edit_ticket_path(ticket), class: [:button, :tiny]

    %br

    = link_to 'Create new ticket', new_ticket_path, class: [:button]
