!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Support desk" 
    %link{href: "https://fonts.googleapis.com/css?family=Lora",  rel: :stylesheet}
    = stylesheet_link_tag "application"
    
    = csrf_meta_tags
  %body
    - if current_user
      %header
        .title-bar{:'data-responsive-toggle' => 'title_menu', :'data-hide-for' => :medium}
          %button.menu-icon{type: :button, :'data-toggle' => 'title_menu'}
          .title-bar-title John W. Fail's support desk
          
        .top-bar#title_menu
          .top-bar-left
            %ul.dropdown.menu{:'data-dropdown-menu' => ''}
              %li.menu-text John W. Fail's support desk
              %li= link_to 'My tickets', tickets_path
              %li
                = link_to 'My projects', '#'
                %ul.menu
                  - if current_user.has_role?(:admin)
                    - Project.all.order(:name).each do |p|
                      %li= link_to p.name, p
                  - else
                    - current_user.projects.each do |p|
                      %li= link_to p.name, p
              %li= link_to 'Create new ticket', new_ticket_path
              
              %li= link_to 'Edit profile', edit_user_path(current_user)
      - if flash
        - flash.each do |key, value|
          .alert.callout{:'data-closeable' => ''}
            %strong= raw value

    = yield
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    :javascript
      $(document).ready(function() { #{yield :jquery} });